.container {
    padding: 0 20px;
}

table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 0 35px;

    thead {
        background: #3c948b;
        color: white;

        th {
            padding: 10px;
        }
    }

    thead {
        height: 50px;
    }

    th, td {
        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
    }

    tbody {
        tr {
            background: rgba(255, 255, 255, 0.5);
            &:nth-child(even) {
                background: #f1f1f180;
            }
        }
        td {
            padding: 15px 10px;
        }
    }
}