.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #3c948b;
    padding: 0 0 70px;
}